body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #8484e5;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: #c71313 0px 10px 20px -10px;
}
.container h1 {
  color: #c71313;
}
.container h1 {
  color: #c71313;
}

button {
  background: #352f68;
  color: white;
  border: none;
  padding: 10px 20px;
  height: 2rem;
}
button:hover {
  background: #c71313;
  
}